*, *::after, *::before {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
}

.top {
    display: flex;
    flex-direction: row;
}

.red-block {
    height: 506px;
    width: 35px;
    background-color: red;
    display: block;
}

.img-container {
    margin-right: 15px;
}

.hand-written {
    font-family: 'Gaegu', cursive;
}

h1.hand-written {
    font-size: 55px;
    font-weight: bold;
    width: fit-content;
    position: relative;
}

h1::after, h2::after {
    content: " ";
    display: block;
    background-color: red;
    position: absolute;
    transform: skew(20deg);
    width: 100%;
    height: 25%;
    bottom: 10px;
    z-index: -1;
}

h2.hand-written {
    font-size: 40px;
    margin-top: 25px;
    width: fit-content;
    position: relative;
}

p.hand-written {
    font-size: 34px;
}

.profile-img {
    max-height: 506px;
    width: auto;
}

.github-img {
    width: 60px;
    transition: 0.2s;
}

.github-img:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #666666);
    filter: drop-shadow(5px 5px 5px #666666);
}

@media only screen and (max-width: 1200px) {
    .container {
        margin: 15px 15px;
    }

    .top {
        flex-direction: column;
    }

    .profile-img {
        max-height: 404;
        width: auto;
    }

    p.hand-written {
        font-size: 24px;
    }
}